body {
  background: linear-gradient(
    44.8deg,
    rgba(255, 136, 102, 0.67) -53.1%,
    rgba(255, 221, 136, 0.28) 49%
  );
}
h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
}
.icon {
  text-align: center;
  font-size: 40px;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 60px;
  box-shadow: 0 7px 29px 0 rgba(100, 100, 111, 0.2);
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 10px;
}
select {
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
h2 {
  margin: 0 0 5px;
  font-size: 28px;
}
.date {
  opacity: 0.7;
}
.time {
  font-weight: bold;
  font-size: 48px;
}
.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 36px;
}
.city:last-child {
  border: none;
}

footer {
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}
